[submodule ".vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-toml"]
	path = vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule ".vim/bundle/tsuquyomi"]
	path = vim/bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule ".vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule ".vim/bundle/vimproc.vim"]
	path = vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule ".vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/bundle/vim-slim"]
	path = vim/bundle/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "vim/bundle/vim-pug"]
	path = vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/vim-easy-align"]
	path = vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim/bundle/html5.vim"]
	path = vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/bundle/nerdtree-git-plugin"]
	path = vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/bundle/detectindent"]
	path = vim/bundle/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule "vim/bundle/necomplete.vim"]
	path = vim/bundle/necomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	utl = https://github.com/tmux-plugins/tpm.git
	url = https://github.com/tmux-plugins/tpm.git
