snippet rctor "React Component Constructor"
constructor(props) {
	super(props);
	${1}
}
endsnippet

snippet then "then(() => ...)" i
then(${1:(${2:arg})} => ${3})
endsnippet

snippet thenn "then(() => {  })" i
then(${1:(${2:arg})} => {
	${3}
})
endsnippet

snippet bindt "this.something = this.something.bind(this)"
this.${1:method} = this.$1.bind(this);
endsnippet
