priority -51

snippet eexist "Jest - expect(element).toExist()"
expect($1).toExist();
endsnippet

snippet ehprop "Jest - expect(element).toHaveProp()"
expect($1).toHaveProp(${2:prop, value<optional>});
endsnippet

