snippet statv "static declaration"
static $1($2) :void;
endsnippet

snippet @p "static declaration"
@param {${1:string}} ${2:variable} - ${3:description}
endsnippet

snippet _bvedit "_bveditor.addExtraLib(...)"
_bveditor.addExtraLib(\`
$1
\`, '${2:lib}');
endsnippet

snippet ts "variable :string" i
${1:variable} :string
endsnippet

snippet tn "variable :number" i
${1:variable} :number
endsnippet

snippet dec "declare class ... {}"
declare class ${1:name} {
	$2
}
endsnippet
